.container {
    display: flex;
    width: 94%;
    margin-top: 8rem;
    justify-content: center;
    align-items: center;
}

.right {
    width: 94%;
    margin-right: auto;
    margin-left: auto;
}

.servers {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: .5rem;
    width: 70%;
}

.server {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: var(--border-radius-3);
    transition: all .3s ease;
}

.server:hover {
    background-color: var(--color-white);
}
.server:hover .button.invite {
    background-color: var(--color-white);
}

.server .guild-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.server .guild-info .guild-icon {
    width: 3.8rem !important;
    height: 3.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.server .guild-info .guild-name {
    font-size: 1rem;
}

.server .button {
    border-radius: var(--border-radius-2);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: all .3s ease;
}

.server .button.dash {
    background: var(--color-primary);
}
.server span {
    transition: all .3s ease;
}

.server .button.dash:hover {
    filter: brightness(115%);
}
.server .button.dash:hover span {
    transform: translateX(5px);
}

.server .button.invite {
    background: var(--color-background);
}

.server .button.invite:hover {
    filter: brightness(115%);
}

#menu-btn {
    display: none;
}

@media screen and (max-width: 1600px) {
    .container {
        margin-top: 3rem;
    }
}
@media screen and (max-width: 920px) {
    .server {
        flex-direction: column;
        align-items: flex-start;
    }
    .server .button {
        background: none !important;
        margin-left: calc(4.8rem - 20px);
    }
    .server .button.dash {
        color: var(--color-primary);
    }
    .servers {
        width: 65%;
    }
}

@media screen and (max-width: 768) {
    .servers {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}