h1 {
    margin-bottom: 1.4rem;
}

.moderation-content .contents {
    display: grid;
    grid-template-columns: auto auto;
}

.moderation-content .card {
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
}

.moderation-content .togglers {
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
}

.moderation-content .togglers .dm-sliders .sliders {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: space-between;
}

.sliders .slider {
    display: flex;
    justify-content: start;
    gap: .6rem;
    align-items: center;
}

.moderation-content button {
    border: none;
    padding: 10px 24px;
    width: 6rem;
    background: var(--color-light);
    color: var(--color-dark);
    border-radius: var(--border-radius-1);
    font-family: Poppins, sans-serif;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 1.2rem;
}

.moderation-content button:hover {
    background: var(--color-primary);
}